*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}
.navbar{
  background: #020202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.navbar ul li{
  display: inline-block;
  padding:0 1rem;
}
.navbar a{
  color:#fff;
}
.logo{
  color:#fff;
}
.navbar a:hover{
  color:yellow;
}
.navbar button{
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  display: block;
  border: none;
  background: #d5ec52;
  color: #020202;
  border-radius: 50%;
}